body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1a1b22;
}

nav {
  position: sticky; /* membuat navbar menempel ke atas */
  top: 0; /* posisi navbar di atas */
  left: 0; /* posisi navbar di samping kiri */
  width: 100%; /* lebar navbar 100% */
  padding: 0 0 0 0;
  background-color: #af2030; /* warna latar navbar */
  color: #f9f9f9; /* warna teks navbar */
  z-index: 1000; /* membuat navbar di atas konten lain */
  height: 60px;
  border-radius: 16px;
}

nav p {
  background-color: #af2030;
  color: #1a1b22;
  padding: 2px 0;
  text-align: center;
  color: #f9f9f9;
}

note-form {
  overflow-y: auto;
  max-height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

note-form,
note-list {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  overflow: visible;
  flex-grow: 1; /* Membuat note-form dan note-list mengambil ruang yang tersedia */
}

footer {
  background-color: #af2030;
  color: #1a1b22;
  padding: 0.2px 0;
  text-align: center;
  width: 100%;
  margin-top: auto; /* Membuat footer berada di bawah */
}

p {
  font-size: 1rem;
  color: #f9f9f9;
}

@media (min-width: 600px) {
  body {
    flex-direction: column;
  }
}
